*.jar

/bin/

monobrick/ev3/ev3/obj/x86/Debug/ev3.pdb
monobrick/ev3/ev3/obj/x86/Debug/ev3.csprojResolveAssemblyReference.cache
monobrick/ev3/ev3.sln.ide/edb.chk
monobrick/ev3/ev3.sln.ide/edbres00001.jrs
monobrick/ev3/ev3.sln.ide/edb.log
monobrick/c++/ev3/ev3/ev3.vcxproj.filters
monobrick/ev3/ev3.sln.ide/edbres00002.jrs
monobrick/c++/ev3/ev3/Debug/vc140.pdb
monobrick/ev3/ev3.sln.ide/edbtmp.log
monobrick/ev3/ev3.v12.suo
monobrick/ev3/ev3.sln.ide/storage.ide
monobrick/ev3/ev3/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
monobrick/c++/ev3/Debug/ev3.exe
monobrick/c++/ev3/Debug/ev3.ilk
*.sdf
monobrick/c++/ev3/ev3.opensdf
*.chk
*.jrs
monobrick/c++/ev3/ev3/Debug/ev3.tlog/cl.command.1.tlog
*.tlog
monobrick/ev3/ev3/bin/Debug/ev3.vshost.exe
*.cache
*.cache
*.suo
*.suo

ev3-lejos/EV3Tester.jar
ev3-lejos/EV3Tester.jar
ev3-lejos/EV3Tester.jar
monobrick/c++/ev3/ev3/Debug/ev3.log
monobrick/c++/ev3/ev3.sln.ide/edb.log
monobrick/c++/ev3/Debug/ev3.pdb
monobrick/c++/ev3/ev3.sln.ide/edbtmp.log
monobrick/c++/ev3/ev3.sln.ide/storage.ide
monobrick/c++/ev3/ev3/Debug/vc140.idb
monobrick/ev3/ev3/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
monobrick/ev3/ev3/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
monobrick/ev3/ev3/bin/Debug/ev3.vshost.exe
monobrick/ev3/ev3/bin/Debug/ev3.pdb
monobrick/ev3/ev3/obj/x86/Debug/ev3.exe
monobrick/ev3/ev3/obj/x86/Debug/ev3.pdb
monobrick/ev3/ev3/bin/Debug/ev3.vshost.exe
monobrick/ev3/ev3/bin/Debug/ev3.pdb
monobrick/ev3/ev3.v12.suo
monobrick/c++/ev3/ev3/ev3.vcxproj
monobrick/ev3/ev3/bin/Debug/ev3.pdb
monobrick/ev3/ev3/bin/Debug/ev3.vshost.exe